<ion-nav-view title="" hide-back-button="true" class="image-background-login">
    <ion-content ng-controller="LoginCtrl">
        <div class="login">
            <form ng-submit="doLogin()">
                <label class="item item-input">
                    <input type="text" placeholder="Usuario" ng-model="usuario.username">
                </label>
                <br>
                <label class="item item-input">
                    <input type="password" placeholder="Senha" ng-model="usuario.password">
                </label>
                <button class="button button-block button-assertive" type="submit">Logar</button>
            </form>
            <a id="novaConta" class="button button-clear button-assertive" type="submit" ng-href="#/cadastroUser">Registrar uma conta</a>
        </div>

    </ion-content>
</ion-nav-view>
