<ion-view view-title="RegisterUser" class="imageBackgroundRegister">
    <ion-content >
        <div class="registerUserView" >
            <label class="item item-input ">
                <input type="text" placeholder="Nome" ng-model="usuario.nameUser">
                <i class="icon icon ion-android-person icon-menu"></i>
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="usuario.emailUser">
                <i class="icon icon ion-android-mail icon-menu"></i>
            </label>
            <br>
            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="usuario.senhaUser">
                <i class="icon icon ion-android-lock icon-menu"></i>
            </label>
            <button class="button button-block button-assertive" ng-click="registerUser()">Cadastrar</button>
        </div><br>
    </ion-content>
</ion-view>
