/* Empty. Add your own CSS if you like */

.image-background-login {
    background: url('../img/login-background2.jpg') repeat center;
}

.image-background-register {
    background: url('../img/cadastro-Background.jpg') no-repeat center;
}

.image-register-user-uploader {
    background: url('../img/upload-user-register.png') no-repeat center;
}

.login {
    margin-top: 100%;
    background-color: #f5f5f5;
    position: static;
}

.item-input {
    border-radius: 10px;
}

.registerUserView {
    margin-top: 20%;
}

#novaConta{
    font-size: 13px;
    color: #000;
}
